
<?include var.wxi ?>

<?define UpgradeCode = '{6FA65DF1-68C1-476C-A3CF-C09ED150D1C7}' ?>
<?define Platform = '$(sys.BUILDARCH)' ?>
<?define Name = 'ContextShell' ?>
<?define Manufacturer = 'TheRayJohnson' ?>
<?define FullName = '$(var.Name)' ?>
<?define Info = 'Powerful context menu manager for Windows File Explorer' ?>
<?define bin = '..\..\bin' ?>
<?define PlatformProgramFilesFolder = 'ProgramFiles6432Folder' ?>

<!--
<?if $(var.Platform) = x64 ?>
	<?define PlatformProgramFilesFolder = 'ProgramFiles64Folder' ?>
<?elseif $(var.Platform) = arm64 ?>
	<?define PlatformProgramFilesFolder = 'ProgramFiles64Folder' ?>
<?else ?>
	<?define PlatformProgramFilesFolder = 'ProgramFilesFolder' ?>
<?endif ?>
-->

<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'>
	<Package
		Language='1033'
		Codepage='65001'
		InstallerVersion='500'
		Compressed='yes'
		Scope='perMachine'
		ProductCode='$(var.ProductCode)'
		UpgradeCode='$(var.UpgradeCode)'
		Manufacturer='$(var.Manufacturer)'
		Name='$(var.FullName)'
		Version='$(var.Version)'>

		<SummaryInformation
			Comments='$(var.FullName)'
			Description='$(var.FullName) $(var.Version) $(var.Platform) Setup'
			Keywords='context-menu, right-click, file-explorer' />

		<Media Id='1' EmbedCab='yes' Cabinet='main.cab' CompressionLevel='high' />

		<Binary Id='WixUI_Banner' SourceFile='res\WixUI_Banner.png' />
		<Binary Id='WixUI_Dialog' SourceFile='res\WixUI_Dialog.png' />
		<Binary Id='WixUI_Bmp_Up' SourceFile='res\WixUI_Bmp_Up.bmp' />
		<Binary Id='WixUI_Bmp_New' SourceFile='res\WixUI_Bmp_New.bmp' />
		<Binary Id='WixUI_Ico_Exclam' SourceFile='res\WixUI_Ico_Exclam.ico' />
		<Binary Id='WixUI_Ico_Info' SourceFile='res\WixUI_Ico_Info.ico' />
		<Binary Id='CA' SourceFile='$(var.bin)\ca.dll' />

		<Property Id='WIXUI_INSTALLDIR' Value='INSTALLFOLDER' />
		<Property Id='WixUIRMOption' Value='UseRM' />
		<Property Id='MSIRESTARTMANAGERCONTROL' Value='Disable' />
		<Property Id='DefaultUIFont' Value='WixUI_Font_Normal' />
		<Property Id='ErrorDialog' Value='ErrorDlg' />
		<Property Id='ARPURLINFOABOUT' Value='https://github.com/TheRayJohnson/ContextShell' />
		<Property Id='ARPHELPLINK' Value='https://github.com/TheRayJohnson/ContextShell/tree/main/docs' />
		<Property Id='ARPNOMODIFY' Value='1' Secure='yes' />
		<Property Id='ARPNOREPAIR' Value='1' Secure='yes' />
		<Property Id='BURNMSIMODIFY' Value='0' Secure='yes' />
		<Property Id='BURNMSIREPAIR' Value='0' Secure='yes' />
		<Property Id='BURNMSIUNINSTALL' Value='1' Secure='yes' />

		<!-- Install options. ContextShell-Setup.exe sets these; msiexec users can too. -->
		<Property Id='ADDSTARTMENU' Value='1' Secure='yes' />
		<Property Id='ADDDESKTOP' Value='0' Secure='yes' />
		<Property Id='AUTOUPDATE' Value='1' Secure='yes' />
		<SetProperty Id='ARPINSTALLLOCATION' Value='[INSTALLFOLDER]' After='CostFinalize' />
		
		<StandardDirectory Id='$(var.PlatformProgramFilesFolder)'>
			<Directory Id='INSTALLFOLDER' Name='$(var.FullName)'>
				<Directory Id='IMPORTS' Name='imports'>
					<Component Id='IMPORTS' Guid='{1907F318-D55A-48BA-AC47-5FDC3CF559A5}' NeverOverwrite='yes'>
						<File Id='theme.nss' Source='$(var.bin)\imports\theme.nss' />
						<File Id='goto.nss' KeyPath='yes' Source='$(var.bin)\imports\goto.nss' />
						<File Id='modify.nss' Source='$(var.bin)\imports\modify.nss' />
						<File Id='images.nss' Source='$(var.bin)\imports\images.nss' />
						<File Id='taskbar.nss' Source='$(var.bin)\imports\taskbar.nss' />
						<File Id='develop.nss' Source='$(var.bin)\imports\develop.nss' />
						<File Id='file_manage.nss' Source='$(var.bin)\imports\file-manage.nss' />
						<File Id='terminal.nss' Source='$(var.bin)\imports\terminal.nss' />
					</Component>
				<Directory Id='THEMES' Name='themes'>
					<Component Id='THEMES' Guid='{12D45BEC-6409-414D-ABEC-2A02B270EBD1}'>
						<File Id='theme_auto.nss' KeyPath='yes' Source='$(var.bin)\imports\themes\auto.nss' />
						<File Id='theme_dark.nss' Source='$(var.bin)\imports\themes\dark.nss' />
						<File Id='theme_light.nss' Source='$(var.bin)\imports\themes\light.nss' />
						<File Id='theme_acrylic.nss' Source='$(var.bin)\imports\themes\acrylic.nss' />
						<File Id='theme_glass.nss' Source='$(var.bin)\imports\themes\glass.nss' />
						<File Id='theme_liquid_glass.nss' Source='$(var.bin)\imports\themes\liquid-glass.nss' />
					</Component>
				</Directory>
				<Directory Id='LANG' Name='lang'>
					<Component Id='LANG' Guid='{BBE59710-FA39-47B8-8A20-866171A0D262}' NeverOverwrite='yes'>
						<File Id='en.nss' Source='$(var.bin)\imports\lang\en.nss' />
						<File Id='ar.nss' Source='$(var.bin)\imports\lang\ar.nss' />
						<File Id='de_DE.nss' Source='$(var.bin)\imports\lang\de-DE.nss' />
						<File Id='ko.nss' Source='$(var.bin)\imports\lang\ko.nss' />
						<File Id='no.nss' Source='$(var.bin)\imports\lang\no.nss' />
						<File Id='pt_BR.nss' Source='$(var.bin)\imports\lang\pt-BR.nss' />
						<File Id='zh_CN.nss' Source='$(var.bin)\imports\lang\zh-CN.nss' />
						<File Id='it.nss' Source='$(var.bin)\imports\lang\it.nss' />
						<File Id='ja.nss' Source='$(var.bin)\imports\lang\ja.nss' />
						<File Id='ro.nss' Source='$(var.bin)\imports\lang\ro.nss' />
						<File Id='ru.nss' Source='$(var.bin)\imports\lang\ru.nss' />
						<File Id='sl.nss' Source='$(var.bin)\imports\lang\sl.nss' />
						<File Id='tr.nss' Source='$(var.bin)\imports\lang\tr.nss' />
						<File Id='ua.nss' Source='$(var.bin)\imports\lang\ua.nss' />
						<File Id='zh_TW.nss' Source='$(var.bin)\imports\lang\zh-TW.nss' />
					</Component>
				</Directory>
				</Directory>
					<Component Id='APPLICATION' Guid='{41192606-7671-4829-8822-3DE09D6D61C8}'>
					<CreateFolder Directory='INSTALLFOLDER' />
					<File Id='shell.exe' Checksum='yes' Name='shell.exe' KeyPath='yes' Source='$(var.bin)\shell.exe' />
					<File Id='shell.dll' Checksum='yes' Name='shell.dll' Source='$(var.bin)\shell.dll' />
					<File Id='readme.txt' Name='readme.txt' Source='$(var.bin)\readme.txt' />
					<File Id='license.txt' Name='LICENSE' Source='$(var.bin)\license.txt' />
				</Component>
				<Component Id='SETTINGSAPP' Guid='{4065A24B-5A92-47A5-9618-63B1E9BEBD5F}'>
					<File Id='ContextShell.exe' Checksum='yes' Name='ContextShell.exe' KeyPath='yes' Source='$(var.bin)\ContextShell.exe' />
					<File Id='ContextShell.exe.config' Name='ContextShell.exe.config' Source='$(var.bin)\ContextShell.exe.config' />
				</Component>
				<!-- Read by ContextShell-Setup.exe on upgrade to keep the user's choices. -->
				<Component Id='SETUPINFO' Guid='{41D53BFD-DE6A-43A5-B1E4-D51D8F2A8AA3}'>
					<RegistryKey Root='HKLM' Key='SOFTWARE\TheRayJohnson\ContextShell\Setup'>
						<RegistryValue Name='InstallFolder' Type='string' Value='[INSTALLFOLDER]' KeyPath='yes' />
						<RegistryValue Name='Version' Type='string' Value='$(var.Version)' />
						<RegistryValue Name='StartMenuShortcut' Type='string' Value='[ADDSTARTMENU]' />
						<RegistryValue Name='DesktopShortcut' Type='string' Value='[ADDDESKTOP]' />
						<RegistryValue Name='AutoUpdate' Type='string' Value='[AUTOUPDATE]' />
					</RegistryKey>
				</Component>
				<!-- Sign-in update check. Silent unless GitHub has a newer release. -->
				<Component Id='AUTOUPDATE' Guid='{891FCAA1-DB44-4D91-AB38-B2CB7337F4EA}' Condition='AUTOUPDATE = "1"'>
					<RegistryValue Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Run' Name='ContextShell Updates'
						Type='string' Value='"[INSTALLFOLDER]ContextShell.exe" --check-updates --background' KeyPath='yes' />
				</Component>
				<Component Id='CONFIG' Guid='{3B407066-F28F-4AEE-B38B-D35CE6A15834}' NeverOverwrite='yes'>
					<File Id='shell.nss' Name='shell.nss' KeyPath='yes' Source='$(var.bin)\shell.nss' />
				</Component>
				<Component Id='CLEANUP' Guid='{481C2213-9D58-4E0A-9D8C-3EFA12CA6BB8}' KeyPath='yes'>
					<RemoveFile Id='PurgeAppFiles' Name='*.*' On='uninstall' Directory='INSTALLFOLDER' />
					<RemoveFolder Id='PurgeAppFolder' On='uninstall' Directory='INSTALLFOLDER' />
				</Component>
				<Component Id='DisplayIcon' Guid='{8D05B1EA-818A-4DB9-9C69-FC70F2522A24}'>
					<RegistryValue Id='DisplayIcon' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]'
						Name='DisplayIcon' Root='HKLM' Type='string' Value='[!shell.exe]' KeyPath='yes'/>
				</Component>
			</Directory>
		</StandardDirectory>
		<StandardDirectory Id='ProgramMenuFolder'>
			<Component Id='StartMenuShortcut' Guid='{79A7E4EC-8438-4378-B380-59313E253F15}' Condition='ADDSTARTMENU = "1"'>
				<Shortcut Id='StartMenuShortcut' Directory='ProgramMenuFolder' Description='$(var.Info)'
					WorkingDirectory='INSTALLFOLDER' Name='$(var.FullName)' Target='[!ContextShell.exe]' />
				<RegistryValue Key='Software\TheRayJohnson\ContextShell' Root='HKCU' Type='string' Value='' KeyPath='yes' />
			</Component>
		</StandardDirectory>
		<StandardDirectory Id='DesktopFolder'>
			<Component Id='DesktopShortcut' Guid='{32CE63E0-E305-4A76-8C41-426F635BF3DD}' Condition='ADDDESKTOP = "1"'>
				<Shortcut Id='DesktopShortcut' Directory='DesktopFolder' Description='$(var.Info)'
					WorkingDirectory='INSTALLFOLDER' Name='$(var.FullName)' Target='[!ContextShell.exe]' />
				<RegistryValue Key='Software\TheRayJohnson\ContextShell\Setup' Root='HKCU' Name='DesktopShortcutInstalled' Type='integer' Value='1' KeyPath='yes' />
			</Component>
		</StandardDirectory>
<!--
		<ComponentGroup Id="IMPORTFiles" Directory="IMPORTS">
			<Files Include="$(var.bin)\imports\*.nss" />
		</ComponentGroup>
-->
		<Feature Id='APPLICATION' Title='$(var.FullName)' Level='1'>
			<ComponentRef Id='APPLICATION' />
			<ComponentRef Id='CONFIG' />
			<ComponentRef Id='IMPORTS' />
			<ComponentRef Id='LANG' />
			<ComponentRef Id='THEMES' />
			<ComponentRef Id='CLEANUP' />
			<ComponentRef Id='StartMenuShortcut' />
			<ComponentRef Id='DesktopShortcut' />
			<ComponentRef Id='SETTINGSAPP' />
			<ComponentRef Id='SETUPINFO' />
			<ComponentRef Id='AUTOUPDATE' />
			<ComponentRef Id='DisplayIcon' />
			<!--<ComponentGroupRef Id="IMPORTSFiles"/>-->
		</Feature>
		
		<!-- Upgrade -->
		<Property Id='NEWPRODUCTFOUND' Secure='yes' />
		<Property Id='UPGRADEFOUND' Secure='yes' />
		
		<CustomAction Id='OnDowngrading' Error='A newer version of [ProductName] is already installed. Setup will now exit.' />
		
		<Upgrade Id='$(var.UpgradeCode)'>
			<UpgradeVersion Property='NEWPRODUCTFOUND' Minimum='$(var.Version)' IncludeMinimum='no' OnlyDetect='yes' />
			<UpgradeVersion Property='UPGRADEFOUND' Minimum='1.0.0' Maximum='$(var.Version)' IncludeMinimum='yes' IncludeMaximum='yes' />
		</Upgrade>
		
		<InstallUISequence>
			<Custom Action='OnDowngrading' After='FindRelatedProducts' Condition='NEWPRODUCTFOUND' />
		</InstallUISequence>
		<!-- End Upgrade -->
		
		<CustomAction Id='OnUpdate' Return='ignore' BinaryRef='CA' DllEntry='Update' />
		<CustomAction Id='OnInstall' Return='ignore' BinaryRef='CA' DllEntry='Install' />
		<CustomAction Id='OnUninstall' Execute='firstSequence' Return='asyncWait' BinaryRef='CA' DllEntry='Uninstall' />
		
		<InstallExecuteSequence>
			<Custom Action='OnDowngrading' After='FindRelatedProducts' Condition='NEWPRODUCTFOUND' />
			<Custom Action='OnUninstall' After='FindRelatedProducts' Condition='(REMOVE ="ALL") AND (NOT UPGRADINGPRODUCTCODE)' />
			<Custom Action='OnUpdate' After='FindRelatedProducts' Condition='(NOT INSTALLED) AND (NOT REMOVE)' />
			<Custom Action='OnInstall' After='InstallFinalize' Condition='(NOT INSTALLED) AND (NOT REMOVE)' />
			<RemoveExistingProducts After='InstallFinalize' />
		</InstallExecuteSequence>

		<?include ui.wxi ?>
	</Package>
</Wix>